@import "./mixins/adaptive.scss";

.herBranding {
  position: absolute;
  inset: 0 auto auto 0;
}

.herBrandingLogo {
  display: block;

  @include phones {
    max-width: 75px;
    height: auto;
  }
}