@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
@import "./mixins/utills.scss";
@import 'swiper/scss';


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

body {
  font-family: HelveticaNeueLTPro;
  margin: 0;
  height: 100vh;
  overflow-y: scroll;
}

a {
  color: inherit;
  text-decoration: none;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: 20px 80px;
  box-sizing: border-box;
  background-image: radial-gradient(circle at 98% 9%,#abedce,#abebed,#abc5ed,#c3abed,#edabc1,#edc6ab,#edd9ab);

  @include laptop {
    padding: 20px 60px;
  }

  @include tablets {
    padding: 20px 40px;
  }

  @include phones {
    padding: 20px;
  }
}