@import "../styles/mixins/utills.scss";

.container {
  padding: 40px 80px;

  @include laptop {
    padding: 30px 60px;
  }

  @include tablets {
    padding: 20px 40px;
  }

  @include phones {
    padding: 20px;
  }
}

.pageTitle {
  text-align: center;
  margin-bottom: 5px;
  font-size: 2rem;

  @include laptop {
    font-size: 1.5rem;
  }
}

.subtitle {
  text-align: center;
  margin-bottom: 30px;
  font-size: 1.5rem;

  @include laptop {
    font-size: 1.2rem;
  }
}

.sliderTitle {
  text-align: center;
  margin-bottom: 30px;
  font-size: 1.2rem;

  @include laptop {
    font-size: 1rem;
  }
}

.sunIcon {
  color: yellow;
}

.plus {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
  font-size: 3rem;

  @include laptop {
    font-size: 2rem;
  }
}

.description {
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
  margin-bottom: 40px;
}

.slider {
  overflow-y: scroll;
  display: flex;
  justify-content: space-between;
}

.submit {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  padding: 10px;
  margin: 0 auto;
  margin-top: 40px;
  margin-left: auto;
  border: 0;
  transition: .3s;
  color: $text-third-color;
  background-color: $button-color;

  @include laptop {
    font-size: 1rem;
  }

  &:hover {
    cursor: pointer;
    transform: scale(1.04);
  }
}